.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#headerDiv {
    float: left;
    height: 70px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    display: block;
    background-color: rgb(236, 238, 242);
}

#contentDiv {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 100%;
    padding-bottom: 40px;
    min-height: 650px;
    background-color: rgb(255, 255, 255);
}

#image {
    float: left;
    width: 119px;
    height: 58px;
    margin: 6px 0px 0px 2%;
    clear: none;
    color: rgb(0, 0, 0);
    max-width: none;
}

#chatDiv {
    float: left;
    height: auto;
    margin: 0px 0px 0px 1.996119%;
    clear: both;
    width: 60%;
    border-width: 0px;
    border-style: none;
    display: block;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: rgb(217, 217, 217) 0px 0px 3px 1px;
    box-shadow: rgb(217, 217, 217) 0px 0px 3px 1px;
}

#chatHeader {
    float: left;
    height: 40px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    background-color: rgb(248, 248, 248);
    padding: 12px;
}

#chatHeaderLbl {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
}

#feedTxt {
    float: left;
    height: 400px;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 100%;
    min-height: 0px;
}

#chatContainer {
    float: left;
    height: 52px;
    margin: 0px;
    clear: both;
    width: 100%;
    background-color: rgb(248, 248, 248);
}

#chatTxt {
    float: left;
    height: 35px;
    margin: 0px 5%;
    clear: none;
    width: 90%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(150, 149, 149);
}

#responseDiv {
    float: left;
    height: auto;
    margin: 0px 2% 0px 10px;
    clear: none;
    width: 34%;
    border-width: 0px;
    border-style: none;
    display: block;
    -webkit-box-shadow: rgb(217, 217, 217) 0px 0px 3px 1px;
    box-shadow: rgb(217, 217, 217) 0px 0px 3px 1px;
    background-color: rgb(255, 255, 255);
}

#responseHeader {
    float: left;
    height: 40px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    background-color: rgb(248, 248, 248);
    padding: 12px;
}

#responseHeaderLbl {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
}

#responseOutput {
	color:white;
    float: left;
	padding: 10px;
    height: 450px;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 100%;
    min-height: 0px;
    background-color: rgb(26, 26, 26);
    border: 1px solid rgb(255, 255, 255);
	overflow: auto;
	word-wrap: break-word;
	font-size: 14px;
}


#instructionsDiv {
    float: left;
    height: auto;
    margin-left: 2%;
    margin-top: 0px;
    clear: none;
    width: 95%;
    margin-right: 2%;
    padding: 15px 12px 12px 10px;
    min-height: 50px;
}

#text {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 0px;
    clear: none;
    min-height: 0px;
}

#toneDiv {
    float: left;
    height: auto;
    margin: 10px 2%;
    clear: both;
    width: 94.939146%;
    min-height: 150px;
    padding: 0px;
    -webkit-box-shadow: rgb(217, 217, 217) 0px 0px 3px 1px;
    box-shadow: rgb(217, 217, 217) 0px 0px 3px 1px;
}

#toneHeader {
    float: left;
    height: 70px;
    margin: 0px 0px 0px 0%;
    clear: none;
    width: 100%;
    padding: 12px;
    display: block;
    background-color: rgb(248, 248, 248);
    min-width: 0px;
}

#toneHeaderLbl {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
}

#toneSubLbl {
    float: left;
    font-size: 0.9em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 10px 0px 0px;
    clear: both;
    min-height: 18px;
    min-width: 0px;
}

#toneOutput {
    float: left;
    height: 73.333333%;
    margin: 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
    min-height: 110px;
	padding: 10px;
	font-size: 14px;
	background-color: rgb(26, 26, 26);
	color: white;
}

#textspan {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-weight: bold;
}

@media only screen and (max-width: 900px) {
    #headerDiv {
        float: left;
        height: 70px;
        margin-left: 0%;
        margin-top: 0px;
        clear: none;
        width: 100%;
        display: block;
    }

    #contentDiv {
        float: left;
        height: auto;
        margin-left: 0%;
        margin-top: 0px;
        clear: both;
        width: 100%;
        padding-bottom: 40px;
        background-color: rgb(255, 255, 255);
    }

    #chatDiv {
        height: auto;
        background-color: rgb(255, 255, 255);
        width: 95%;
        margin: 10px 2.5% 0px;
        clear: both;
        float: left;
    }

    #chatHeader {
        float: left;
        height: 40px;
        margin-left: 0%;
        margin-top: 0px;
        clear: none;
        width: 100%;
        border-width: 1px;
        border-style: none none solid;
        border-bottom-color: rgb(236, 236, 236);
    }

    #chatHeaderLbl {
        float: left;
        font-size: 1em;
        width: 100%;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        margin: 0px;
        clear: none;
        min-height: 0px;
    }

    #feedTxt {
        float: left;
        height: 250px;
        margin-left: -0.08778347%;
        margin-top: 0px;
        clear: both;
        width: 100%;
    }

    #chatContainer {
        float: left;
        margin: 0px;
        clear: both;
        width: 100%;
    }

    #chatTxt {
        float: left;
        height: 60%;
        margin: 10px 5% 15px;
        clear: none;
        width: 90%;
    }

    #responseDiv {
        height: auto;
        width: 95%;
        margin: 10px 2.5% 0px;
        clear: both;
        float: left;
        background-color: rgb(255, 255, 255);
    }

    #responseHeader {
        float: left;
        height: 40px;
        margin-left: 0%;
        margin-top: 0px;
        clear: none;
        width: 100%;
        border-width: 1px;
        border-style: none none solid;
        border-bottom-color: rgb(236, 236, 236);
    }

    #responseHeaderLbl {
        float: left;
        font-size: 1em;
        width: 100%;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        margin: 0px;
        clear: none;
        min-height: 0px;
    }

    #responseOutput {
        float: left;
        height: 250px;
        margin-left: -0.08778347%;
        margin-top: 0px;
        clear: both;
        width: 100%;
    }

    #instructionsDiv {
        margin: 10px 2.5% 0px;
        height: 40px;
        padding: 10px;
    }

    #toneDiv {
        margin: 10px 2.5% 0px;
    }

    #toneHeader {
        float: left;
        height: 80px;
        margin-left: 0%;
        margin-top: 0px;
        clear: none;
        width: 100%;
        border-width: 1px;
        border-style: none none solid;
        border-bottom-color: rgb(236, 236, 236);
    }

    #toneHeaderLbl {
        float: left;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        margin: 0px;
        clear: none;
        min-height: 0px;
    }
}

@media only screen and (max-width: 580px) {
    #chatDiv {
        width: 95%;
    }

    #chatTxt {
        width: 95%;
        margin: 10px 2.5% 0px;
    }

    #responseDiv {
        width: 95%;
    }
}

@media only screen and (max-width: 400px) {
    #toneHeader {
        height: 90px;
    }
}

@media only screen and (max-width: 320px) {
    #chatDiv {
        width: 95%;
    }

    #chatTxt {
        width: 90%;
        margin: 10px 5%;
    }

    #responseDiv {
        width: 95%;
    }

    #toneHeader {
        height: 95px;
    }

    #toneSubLbl {
        line-height: 0.9em;
    }
}

@media only screen and (max-width: 231px) {
    #toneHeader {
        height: 110px;
    }
}

